<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tapan Khandelwal</title>
    <link rel="apple-touch-icon" href="assets/theme/images/apple-touch-icon.png">
    <link rel="icon" href="assets/theme/images/code.png">
    <link href="css/pace.css" rel="stylesheet">
    <link href="css/typed.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/jquery.simpleCaptcha.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/skin-black.css" rel="stylesheet">
  </head>


  <body>

    <figure>
      <div></div><div></div>
      <div></div><div></div>
      <div></div><div></div>
      <div></div><div></div>
    </figure>
    <div class="wrapper">
      <header class="main-header" id="home">
        <div class="content-table header-content-fixed ">
          <div class="whoim">
            <div class="box-line text-uppercase text-bold">
              Who Am I
            </div>
          </div>
          <div class="v-content">
            <div class="container">
              <h1 class="text-uppercase color-dark name">i’m Tapan Khandelwal</h1>
              <h4  class="text-uppercase color-dark font-alt job"><span id="typed" class="typed"></span></h4>
            </div>
          </div>
        </div>

        <div class="menu-area">
          <div class="toogle-bars">
            <a href="#menu-collapse" data-toggle="collapse" class="collapsed"><i class="fa fa-bars ic-open"></i> <i class="fa fa-remove ic-close"></i> MENU</a>
          </div>
          <div class="menu-collapse collapse" id="menu-collapse">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="breadcrumb main-nav no-space">
                    <li class="link-inpage"><a href="#contact" id="hireme-tab" class="link-inpage"><i class="fa fa-briefcase"></i> Hire Me Now</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="breadcrumb main-nav nav">
                    <li class="active"><a href="#home" class="link-inpage">Home</a></li>
                    <li ><a href="#about" class="link-inpage">About</a></li>
                    <li ><a href="#resume" class="link-inpage">Resume</a></li>
                    <li ><a href="#portfolio" class="link-inpage">Projects</a></li>
                    <li ><a href="#contact" id="contact-tab" class="link-inpage">Contact</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="breadcrumb main-nav no-space">
                    <li>
                      <a href="https://www.facebook.com/monu.khandelwal.71" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/tapan-khandelwal-02436315b/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
                    </li>
                    <li>
                      <a href="https://github.com/Juggernaut1997" target="_blank"><i class="fa fa-github fa-lg"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section id="about" class="block-section">
        <div class="clearfix my-profile">
          <div class="my-pict" >
            <div class="overfly">
              <div class="text-botttom">
                <h2 class="text-uppercase color-dark text-bold">Tapan Khandelwal</h2>
                <h5 class="text-uppercase color-dark font-alt ">Lives On Earth</h5>
              </div>
            </div>
          </div>
          <div class="my-desc">
            <div class="bg-secondary clearfix">
              <div class="inner-text">
                <h3 class="no-margin font-alt">Hi There!</h3>
                <h4>Allow me to introduce myself</h4>
                <p class="no-margin font-alt"> I'm Tapan khandelwal, an engineer, a web developer and an artist currently pursuing Bachelor of Technology in Electronics and Communication Engineering from Government Engineering College, Ajmer.</p>
                <p class="no-margin font-alt">I'm in my 3rd year of Engineering. I am looking for an opportunities for internship where i can work in learning and challenging environment, utilizing my skills and knowledge to the best of my abilities and contribute positively to my personal growth for the organisation. To know more about me, please go through my profile.</p>
              </div>
            </div>
            <div class="bg-dark clearfix">
              <div class="inner-text">
                <p class="no-margin color-light ">
                  
                  <strong class="fix-width-100"><i class="fa fa-phone margin-right-5"></i> Phone</strong> : +91-8233328222<br/>
                  <strong class="fix-width-100"><i class="fa fa-envelope margin-right-5"></i> Email</strong> : tk.khandelwal01@gmail.com<br/>
                </p>
              </div>
            </div>
          </div>
        </div>
		
        <div class="container">
          <ul class="services list-unstyled clearfix">
            <li class="col-sm-4 no-padding">
              <div class="box">
                <div class="ic"><i class="fa fa-code"></i></div>
                <h5 class="text-uppercase color-dark">Web Developer</h5>
              </div>
            </li>
            <li class="col-sm-4 no-padding">
              <div class="box">
                <div class="ic"><i class="fa fa-laptop"></i></div>
                <h5 class="text-uppercase color-dark">Python Developer</h5>
              </div>
            </li>
            <li class="col-sm-4 no-padding">
              <div class="box ">
                <div class="ic"><i class="fa fa-desktop"></i></div>
                <h5 class="text-uppercase color-dark">Web Designer</h5>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section id="resume" class="block-section">
        <div class=" shape-bottom">
          <div class="bg-secondary block-title">
            <div class="container">
              <h2 class="text-uppercase color-dark text-bold no-margin">Employment</h2>
              <div class="title-icon"> <i class="fa fa-briefcase"></i> </div>
            </div>
          </div>
        </div>
        <div class="container-medium ">
          <div class="list-employment">
            <ul class="list-unstyled  clearfix">
              <li>
                <div class="ic"><i class="fa fa-briefcase"></i></div>
                <div class="number font-alt">01</div>
                <div class="desc">
                  <h5 class="text-uppercase color-dark text-bold">Internship/Training</h5>
                  <p class="font-alt color-dark">Looking for my first experience.</p>
                  <p class="font-alt color-dark">  May,2018-July,2018</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class=" shape-bottom">
          <div class="bg-secondary block-title">
            <div class="container">
              <h2 class="text-uppercase color-dark text-bold no-margin">Education</h2>
              <div class="title-icon"> <i class="fa fa-graduation-cap"></i> </div>
            </div>
          </div>
        </div>
        <div class="container-medium">
          <div class="list-education">
            <ul class="list-unstyled  clearfix">
              <li>
                <div class="ic"><i class="fa fa-graduation-cap"></i></div>
                <div class="number font-alt">01</div>
                <div class="desc">
                  <h5 class="text-uppercase color-dark text-bold">Govt. Engineering College, Ajmer</h5>
                  <p class="font-alt color-dark">Ajmer(Rajasthan)</p>
                  <p class="font-alt color-dark">Pursuing 3rd year of Bachelor of Technology in Electronics and Communication Engineering with an aggregate percentage of 72.45%.</p>
                  <p class="font-alt color-dark">  2015-2019</p>
                </div>
              </li>
              <li>
                <div class="ic"><i class="fa fa-graduation-cap"></i></div>
                <div class="number font-alt">02</div>
                <div class="desc">
                  <h5 class="text-uppercase color-dark text-bold">Aastha Public School</h5>
                  <p class="font-alt color-dark">Sikar(Rajasthan)</p>
                  <h6 class="color-dark">Higher secondary education</h6>
                  <p class="font-alt color-dark">Percentage: 78%</p>
                  <p class="font-alt color-dark"> 2014-2015</p>
                </div>
              </li>
              <li>
                <div class="ic"><i class="fa fa-graduation-cap"></i></div>
                <div class="number font-alt">03</div>
                <div class="desc">
                  <h5 class="text-uppercase color-dark text-bold">Vidya Bharti Public School</h5>
                  <p class="font-alt color-dark">Sikar(Rajasthan)</p>
                  <h6 class="color-dark">Senior secondary education</h6>
                  <p class="font-alt color-dark">Percentage: 81%</p>
                  <p class="font-alt color-dark "> 2012-2013</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class=" shape-bottom">
          <div class="bg-secondary block-title">
            <div class="container">
              <h2 class="text-uppercase color-dark text-bold no-margin">Skills</h2>
              <div class="title-icon"> <i class="fa fa-magic"></i> </div>
            </div>
          </div>
        </div>

        <div class="container-medium">
          <ul class="skill top list-unstyled clearfix">
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right br-bottom">
                <span class="chart" data-percent="70">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">HTML</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right br-bottom">
                <span class="chart" data-percent="70">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">CSS</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right br-bottom">
                <span class="chart" data-percent="70">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">JavaScript</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-bottom">
                <span class="chart" data-percent="70">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase color-dark">Bootstrap</div>
              </div>
            </li>
          </ul>

          <ul class="skill bottom list-unstyled clearfix">
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right">
                <span class="chart" data-percent="75">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">C/C++</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right">
                <span class="chart" data-percent="70">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">jQuery</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right">
                <span class="chart" data-percent="60">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">Python 3</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box">
                <span class="chart" data-percent="60">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase color-dark">Node.js</div>
              </div>
            </li>
          </ul>

          <ul class="skill bottom list-unstyled clearfix">
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right">
                <span class="chart" data-percent="85">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">MATLAB</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right">
                <span class="chart" data-percent="80">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">Arduino</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box br-right">
                <span class="chart" data-percent="60">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase  color-dark">Adobe Photoshop</div>
              </div>
            </li>
            <li class="col-sm-3 col-xs-6 no-padding">
              <div class="box">
                <span class="chart" data-percent="60">
                  <span class="percent"></span>
                </span>
                <div class="text-uppercase color-dark">Adobe Illustrator</div>
              </div>
            </li>
          </ul>

          <div class="title-border">
            <h5 class="text-uppercase color-dark no-margin text-bold ">MORE SKILLS</h5>
          </div>  

          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled list-progress">
                <li>
                  <div class="text-uppercase color-dark title "><span>Creative</span>  <small>80%</small></div>
                  <div class="progress-line">
                    <div class="line" data-holdwidth="80%"></div>
                  </div>
                </li>
                <li>
                  <div class="text-uppercase color-dark title">Leadership   <small>85%</small></div>
                  <div class="progress-line">
                    <div class="line" data-holdwidth="85%"></div>
                  </div>
                </li>
              </ul>
            </div>

            <div class="col-sm-6">
              <ul class="list-unstyled list-progress">
                <li>
                  <div class="text-uppercase color-dark title">English <small>80%</small></div>
                  <div class="progress-line">
                    <div class="line" data-holdwidth="80%" ></div>
                  </div>
                </li>
                <li>
                  <div class="text-uppercase color-dark title">Communication  <small>75%</small></div>
                  <div class="progress-line">
                    <div class="line" data-holdwidth="75%" ></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="white-space-50"></div>
        </div>

        <div class="parallax-bg bg1" >
          <div class="container">
            <div class="padding30 text-center">
              <a href="assets/theme/CV_Tapan Khandelwal.pdf" class="btn btn-flat-line btn-default light-font "><i class="fa fa-download" target="_blank"></i>  Download CV</a>
              <span class="space-inline-15 hidden-xs"></span>
            </div>
          </div>
        </div>
      </section>

      <section id="portfolio" class="block-section">
        <div class=" shape-bottom">
          <div class="bg-secondary block-title">
            <div class="container">
              <h2 class="text-uppercase color-dark text-bold no-margin">Projects</h2>
              <div class="title-icon"> <i class="fa fa-inbox"></i> </div>
            </div>
          </div>
        </div>

        <div class="block-page" >
          <div class="container-medium clearfix">
            <div class="row list-work">
              <div class="col-md-6 col-sm-6">
                <div class="box-work">
                  <div class="work-preview">
                    <img src="assets/theme/images/bg2.jpg" alt="">
                    <div class="hover">
                      <div class="link-btns">
                        <a href="assets/theme/images/bg2.png" title="pic 02" class="galery-item" ><i class="fa fa-search-plus"></i></a>
                        <a href="bandwidth-aggregator.html" target="_blank"><i class="fa fa-link"></i></a>
                      </div>
                      <a href="bandwidth-aggregator.html" class="project-title" target="_blank">Bandwidth Aggregator</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="box-work">
                  <div class="work-preview">
                    <img src="assets/theme/images/lfr.jpg" alt="">
                    <div class="hover">
                      <div class="link-btns">
                        <a href="assets/theme/images/lfr.jpg" title="pic 02" class="galery-item"><i class="fa fa-search-plus"></i></a>
                        <a href="line-follower.html" target="_blank"><i class="fa fa-link"></i></a>
                      </div>
                      <a href="line-follower.html" class="project-title" target="_blank">Line Follower/Seguidor</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="parallax-bg black-light bg2">
          <div class="container-medium">
            <div class="block-page">
              <div id="carousel-example-generic" class="carousel slide carousel-testi" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <div class="box-testimonial">
                      <img src="assets/theme/images/steve.jpg" alt="" class="img-profile">
                      <h3 class="color-dark text-capitalize no-margin-top line-dash-bottom"> Steve Jobs </h3>
                      <p class="font-alt">Design is not just what it looks like and feels like. Design is how it works.</p>
                      <div class="white-space-10"></div>
                      <p class="font-alt no-margin color-dark">Co-founder, Chairman, and CEO of Apple Inc.</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box-testimonial">
                      <img src="assets/theme/images/download.jpg" alt="" class="img-profile">
                      <h4 class="color-dark text-capitalize no-margin-top line-dash-bottom"> Bill Gates </h4>
                      <p class="font-alt">If you can't make it good, at least make it look good.</p>
                      <div class="white-space-20"></div>
                      <p class="font-alt no-margin color-dark">Co-Founder and Technology Advisor of Microsoft</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="box-testimonial">
                      <img src="assets/theme/images/elon.jpg" alt="" class="img-profile">
                      <h4 class="color-dark text-capitalize no-margin-top line-dash-bottom"> Elon Musk </h4>
                      <p class="font-alt">Any product that needs a manual to work is broken.</p>
                      <div class="white-space-20"></div>
                      <p class="font-alt no-margin color-dark"> CEO of SpaceX, Tesla Inc. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="contact" class="block-section">
        <div class=" shape-bottom">
          <div class="bg-secondary block-title">
            <div class="container">
              <h2 class="text-uppercase color-dark text-bold no-margin">Where I Can Contact You</h2>
              <div class="title-icon"> <i class="fa fa-envelope-o"></i> </div>
            </div>
          </div>
        </div>

        <div class="contact-area">
          <div class="form-contact-area clearfix">
            <div class="inner-contact clearfix ">
              <ul id="myTab" class="nav nav-tabs flat-nav-tabs" role="tablist">
                <li class="active"><a role="tab" data-toggle="tab">Contact Details</a></li>
              </ul>

              <div id="myTabContent" class="tab-content flat-tab-content">
                <div class="tab-pane fade in active" id="tab0">
                  <form method="post" id="contactForm" name="contactForm" action="php/sending_mail.php">
                    <input type="hidden" name="subject" value="Message Contact Form">
                    <div class="form-group">
                      <label>Your Name *</label>
                      <input type="text" class="form-control form-flat" name="fullname" required>
                    </div>
                    <div class="form-group">
                      <label>Email *</label>
                      <input type="email" class="form-control form-flat" name="email" required>
                    </div>
                    <div class="form-group">
                      <label>Your Message *</label>
                      <textarea class="form-control form-flat" name="message" rows="8" required></textarea>
                    </div>

                    <div class="form-group">
                      <div id="captcha1"></div>
                    </div>
                    <div class="form-group ">
                      <button type="submit" class="btn btn-flat-solid primary-btn" >Send Message</button>
                    </div>
                    <div class="form-group">
                      <div class="preload-submit hidden"><hr/> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</div>
                      <div class="message-submit error hidden"></div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="tab1">
                  <form method="post" id="hireForm" name="hireForm">
                    <input type="hidden" name="subject" value="Message Hire Form">
                    <input type="hidden" name="file" id="file-att" value="">
                    <div class="form-group">
                      <label>Your Name *</label>
                      <input type="text" class="form-control form-flat" name="fullname" required>
                    </div>
                    <div class="form-group">
                      <label>Email *</label>
                      <input type="email" class="form-control form-flat" name="email" required>
                    </div>
                    <div class="form-group">
                      <label>Short Description About the Project *</label>
                      <textarea class="form-control form-flat" name="message" rows="8" required></textarea>
                    </div>

                    <div class="form-group">
                      <label>Attach Your Document <span class="display-block color-dark">(only .pdf  allowed , max size 200Kb)</span></label>
                      <div class="clearfix">						
                        <input type="button" id="upload-btn" class="btn btn-flat-solid btn-file btn-xs btn-default  clearfix" value="Choose file">
                        <div id="errormsg" class="clearfix error"></div>	              
                        <div id="pic-progress-wrap" class="progress-wrap"></div>	
                        <div id="picbox" class="attbox color-dark"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div id="captcha2"></div>
                    </div>

                    <div class="form-group">
                      <button type="submit" class="btn btn-flat-solid primary-btn">Send Request</button>
                    </div>

                    <div class="form-group">
                      <div class="preload-submit hidden"><hr/> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</div>
                      <div class="message-submit error hidden"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="map-area" id="map-contact"></div>
          <div class="hidden map-contact-body">
            <div class="map-content">
              <h4 class="no-margin-top font-alt">I am Here</h4>
              <p><i class="fa fa-map-marker"></i> <strong>Address:</strong> Raja-kothi School, Gulab bari, Ajmer </p>
              <p><i class="fa fa-mobile"></i> <strong>Phone:</strong> +91-8233328222 </p>
              <p><i class="fa fa-envelope"></i> <strong>Email:</strong> tk.khandelwal01@gmail.com</p>
            </div>
          </div>
        </div>
      </section>

      <footer class="main-footer">
        <div class="container">
          <div class="folow-me">
            Follow Me On
          </div>
          <ul class="list-inline social-links text-center">
            <li>
              <a href="https://www.facebook.com/monu.khandelwal.71"  data-toggle="tooltip"  data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/tapan-khandelwal-02436315b/"  data-toggle="tooltip"  data-placement="top" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/Juggernaut1997"  data-toggle="tooltip"  data-placement="top" title="Github" target="_blank"><i class="fa fa-github"></i></a>
            </li>
          </ul>
          <p class="text-center no-margin">
            Solid - All Rights Reserved &COPY; 2018
          </p>
          <a href="#home" class="back-to-top"><i class="fa fa-angle-double-up" ></i></a>
        </div>
      </footer>
    </div>

    <div id="mycaptcha-wrap" class="hidden mycaptcha1">
      <div id="mycaptcha" class="mycaptcha1"></div>
    </div>


    <script src="assets/plugins/jquery.js"></script>
    <script src="assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB48Bkvv2Qk2gFvT2abSz-qkwSwb_iD2jo"></script>
    <script src="assets/plugins/jquery.ui.map.js"></script> 
    <script src="assets/plugins/jquery.easing-1.3.pack.js"></script>
    <script src="assets/plugins/jquery.parallax-1.1.3.js"></script>
    <script src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/plugins/typed/typed.js"></script>
    <script src="assets/plugins/easypiechart/jquery.easypiechart.min.js"></script>
    <script src="assets/plugins/simpleCaptcha/jquery.simpleCaptcha.js"></script>
    <script src="assets/plugins/Simple-Ajax-Uploader/SimpleAjaxUploader.min.js"></script>
    <script src="assets/plugins/validator/jquery.validate.min.js"></script>
    <script src="assets/theme/js/theme.js"></script>
  </body>
</html>
